:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #333;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.container {
  padding: 20px;
  margin: auto;
  display: flex;
  width: 550px;
  height: 360px;
  flex-direction: column;
}

.header {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ebdbb9;
}

.top {
  display: flex;
  justify-content: center;
}

.link-list {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
}

.menu {
  background: #a06150;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 10px 35px;
  border-radius: 2px;
  cursor: pointer;
}
.left {
  margin-right: 30px;
}
.pc {
  width: 225px;
  height: 100%;
}

.link {
  padding-left: 30px;
  position: relative;
  color: #333;
}

.link::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -3px;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: #e86f4a;
  border-radius: 50%;
  outline: 3px solid #333;
}

.right {
  display: flex;
}
.input-list {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
}

.input-item {
  display: flex;
  justify-content: space-between;
}

.input {
  display: block;
  margin-left: 10px;
}
